.fa-plus {
  margin-right: 5px;
  background: $brand_white;
  border-radius: 50%;
  color: $brand_blue;
}

.style-button button {
  font-size: .5rem;
  color: $brand_white;
  background-color: $brand_blue;
  border: 5px $brand_blue solid;
}
